<ion-header>
  <ion-navbar>
    <ion-title>Aanwezigen</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="refreshPagina()">
        <ion-icon name="refresh-circle"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <div ion-item *ngFor="let item of items">
      {{item.naam}}
      <div class="item-note" item-end>
        {{item.studnr}}
      </div>
    </div>

    <div ion-item *ngIf="items?.length <= 0">
      Er zijn geen aanwezigen.
    </div>
  </ion-list>
</ion-content>
