<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Aanwezigen</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <button ion-button full (click)="refreshPagina()">Refresh</button>
  <ion-list>
    <div ion-item *ngFor="let item of items">
      {{item.naam}}
      <div class="item-note" item-end>
        {{item.studnr}}
      </div>
    </div>

    <div ion-item *ngIf="items?.length <= 0">
      Er zijn geen aanwezigen.
    </div>
  </ion-list>
</ion-content>
